<grafana-panel>
  <div style="padding-top: 10px">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Host</th>
          <th style="width: 50%">Issue</th>
          <th>Last change</th>
          <th>Age</th>
          <th>Ack</th>
          <th>Link</th>
        </tr>
      </thead>
      <tbody>
        <tr class="" ng-repeat="trigger in triggerList">
          <td style="border-top-width: 1px">
            <span class="template-variable">{{trigger.host}}</span>
          </td>
          <td style="border-top-width: 1px;
                     padding: 2px">
            <div style="background-color: {{trigger.color}};
                        color: #020202;
                        height:80%;
                        padding: 6px;
                        border-radius: 2px">
              {{trigger.description}}
              <a ng-if="trigger.comments"
                 class="pointer"
                 style="float: right; color: #101010"
                 data-toggle="collapse"
                 data-target="#comments-{{trigger.id}}"
                 bs-tooltip="'Show additional trigger description'"
                 data-placement="top">
                <i class="fa fa-file-text-o"></i>
              </a>
            </div>
            <div ng-if="trigger.comments" id="comments-{{trigger.id}}" class="collapse">
              <div style="padding: 8px">
                <small>{{trigger.comments}}</small>
              </div>
            </div>
          </td>
          <td>
            {{trigger.lastchange}}
          </td>
          <td>
            {{trigger.age}}
          </td>
          <td>
            Ack
          </td>
          <td>
            <a ng-if="trigger.url" href="{{trigger.url}}" target="_blank">
              <span>
                <i class="fa fa-external-link"></i>
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</grafana-panel>
